.center {
    position: absolute;
    left: 300pt;
    top: 60pt;
    border-style: solid;
    border-width: 5px;
}

.btn {
    cursor: pointer;
    height: 40px;
    width: 15%;
    background: rgb(134, 221, 255);
    border-radius: 5px;
    border: none;
    color: rgba(0, 0, 0, 0.897);
    font-family: monospace;
    font-size: 14px;
    margin: 5px;
}

button:hover {
    background: rgb(251, 253, 255);
    color: black
}